{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Movie Genres</h1>
        <div class="ml-10 mr-10">
            <ul class="list-group">
                <li class="list-group-item">Romance</li>
                <li class="list-group-item">Scifi</li>
                <li class="list-group-item">Comedy</li>
                <li class="list-group-item">Thriller</li>
                <li class="list-group-item">Action</li>
                <li class="list-group-item">Crime</li>
                <li class="list-group-item">Drama</li>
                <li class="list-group-item">Horror</li>
                <li class="list-group-item">Adventure</li>
                <li class="list-group-item">Fantasy</li>
            </ul>
        </div>
    </div>
{% endblock %}
